<%- include ("../partials/head.ejs") %>
    <%- include ("../partials/navbar.ejs") %>

        <main>
            <div class="pfp">
                <img src="<%= user.pfp %>" alt="">
            </div>
            <p style="font-weight: 600;">
                <%= user.name %>
            </p>
            <p style="opacity: 0.7;">
                <%= user.email %>
            </p>
            <p>
                <%= user.doctor ? 'Doctor' : 'User' %>
            </p>

            <% if (user.doctor) { %>
                <div style="margin: 1vw; display:flex; flex-direction: column;">
                    <input type="text" placeholder="Enter Place of Work" id="query" style="margin: 1vw">
                    <button onclick="searchMaps()">
                        Add Work Location
                    </button>
                </div>
                <div id="locationcontent">
                </div>
                <% } %>


                    <form action="/auth/logout">
                        <button>Logout</button>
                    </form>
        </main>


        <style>
            main {
                width: 50vw;
                margin: auto;
                padding: 3vw;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                box-shadow: 0 0 20px #bebebe;
            }

            .profile-box {}

            .pfp img {
                width: 100px;
                margin: 1vw;
            }

            p {
                margin: 10px 0;
            }

            button {
                padding: 10px 20px;
                border: none;
                background-color: var(--accent);
                color: white;
                border-radius: 10px;
                margin: auto;
                cursor: pointer;
            }

            .locationtitle{
                font-weight: bold;
            }

            .locationcoords{
                color: grey;
            }
        </style>

        <script>
            async function searchMaps() {
                var data;
                var query = encodeURI(document.getElementById('query').value)
                fetch(`https://atlas.microsoft.com/search/fuzzy/json?api-version=1.0&query=${query}&subscription-key=RVQdOVMiTuJWTaGQECNg4z5JBtxzpc09x3G--lyl_6Y`, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'x-ms-client-id': '87d89713-6b93-4766-86e6-d04dc37d27f5',
                    },
                })
                    .then(response => response.text())
                    .then(text => {
                        data = JSON.parse(text)
                        console.log(data)
                        var locationdata = '';
                        var locdata = document.getElementById('locationcontent')
                        for (result of data.results){
                            locationdata+=result.poi.name + ', '
                            locationdata+=result.address.streetName + ', '
                            locationdata+=result.address.countrySubdivision + ', '
                            locationdata+=result.address.country
                            var locobj = document.createElement('div')
                            var loctitle = document.createElement('div')
                            var loclat = document.createElement('div')
                            loctitle.innerHTML = locationdata;
                            loctitle.className = 'locationtitle'
                            loclat.className = 'locationcoords'
                            locobj.className = 'locationobject'
                            loclat.innerHTML = result.position.lon + ', ' + result.position.lat
                            locobj.appendChild(loctitle)
                            locobj.appendChild(loclat)
                            locdata.appendChild(locobj)
                            locationdata = ''
                        }
                    })

            }
        </script>

        <%- include ("../partials/footer.ejs") %>