<%- include ("../partials/head.ejs") %>
<main>
    <h1>Prescription Details</h1>
    <div class="prescription" style="width: 100%;">
        <div style="width: 100%; display: flex; justify-content: space-between;">
            <p><strong>Doctor/Assigned By: </strong><%= pres.doctorName %></p>
            <p><strong>Patient/Assigned To:</strong> <%= pres.patientName %></p>
        </div>
        <p><strong>Hospital: </strong><%= pres.hospital %></p>
        <div class="details" style="margin: 2vw;">
            <p><strong>Drug/Medication Name:</strong> <%= pres.drug %></p>
            <p><strong>Drug/Medication Dose: </strong><%= pres.dose || '---' %></p>
            <p><strong>Dose per Day:</strong> <%= pres.perDay || '---' %></p>
            <p><strong>Number of Days:</strong> <%= pres.days || '---' %></p>
            <p><strong>Special Instructions: </strong><%= pres.specIns || '---' %></p>
        </div>
    </div>
</main>

<style>
    @font-face {
            font-family: sans-serif;
            src: url(/font.otf);
        }
    main {
        font-family: mainfont;
        width: 60vw;
        margin: 30vh auto;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .details * {
        margin: 10px 0;
    }

    .prescription{
        margin-top: 2vw;
    }
</style>
<%- include ("../partials/footer.ejs") %>